[versions]
# plugings
kotlin = "2.0.0"
dokka = "1.9.20"
nexus = "2.0.0"
semver-git = "2.3.7"
openapi-gen = "7.8.0"
spotless = "6.25.0"
shadow-jar = "8.1.1"

lazysodium-java = "5.1.4"
coroutines = "1.8.1"
slf4j = "2.0.13"
jupiter = "5.11.0"
gson = "2.11.0"
tls-channel = "0.9.1"
jjwt = "0.12.6"
netty = "4.1.112.Final"
springboot = "3.2.5"
ziti-api = "0.26.20"
jackson = "2.17.2"
jakarta-annotation = "1.3.5"
okhttp3 = "4.12.0"

[libraries]

kotlin-lib = { group = "org.jetbrains.kotlin", name = "kotlin-stdlib", version.ref = "kotlin" }
kotlin-reflect = { group = "org.jetbrains.kotlin", name = "kotlin-reflect", version.ref = "kotlin" }
kotlin-test = { group = "org.jetbrains.kotlin", name = "kotlin-test-junit", version.ref = "kotlin" }
kotlin-coroutines-lib = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-core", version.ref = "coroutines"}
kotlin-coroutines-test = { group = "org.jetbrains.kotlinx", name = "kotlinx-coroutines-test", version.ref = "coroutines"}

tls-channel = { group = "com.github.marianobarrios", name = "tls-channel", version.ref = "tls-channel" }
sodium = { group = "com.goterl", name = "lazysodium-java", version.ref = "lazysodium-java" }
jjwt-api = { group = "io.jsonwebtoken", name = "jjwt-api", version.ref = "jjwt" }
jjwt-impl = { group = "io.jsonwebtoken", name = "jjwt-impl", version.ref = "jjwt" }
jjwt-gson = { group = "io.jsonwebtoken", name = "jjwt-gson", version.ref = "jjwt" }

slf4j-api = { group = "org.slf4j", name = "slf4j-api", version.ref = "slf4j" }
slf4j-simple = { group = "org.slf4j", name = "slf4j-simple", version.ref = "slf4j" }
gson = { group = "com.google.code.gson", name = "gson", version.ref = "gson" }

jupiter-api = { group = "org.junit.jupiter", name = "junit-jupiter-api", version.ref = "jupiter" }
jupiter-engine = { group = "org.junit.jupiter", name = "junit-jupiter-engine", version.ref = "jupiter" }

netty-transport = { group = "io.netty", name = "netty-transport", version.ref = "netty" }
netty-http = { group = "io.netty", name = "netty-codec-http", version.ref = "netty" }

jackson-core = { group = "com.fasterxml.jackson.core", name = "jackson-core", version.ref = "jackson" }
jackson-annotations = { group = "com.fasterxml.jackson.core", name = "jackson-annotations", version.ref = "jackson" }
jackson-bind = { group = "com.fasterxml.jackson.core", name = "jackson-databind", version.ref = "jackson" }
jackson-datatype = { group = "com.fasterxml.jackson.datatype", name = "jackson-datatype-jsr310", version.ref = "jackson" }
jackson-kotlin = { group = "com.fasterxml.jackson.module", name = "jackson-module-kotlin", version.ref = "jackson" }

okhttp3 = { group = "com.squareup.okhttp3", name ="okhttp", version.ref = "okhttp3" }


[plugins]
kotlin = { id = "org.jetbrains.kotlin.jvm", version.ref = "kotlin" }
kotlin-spring = { id = "org.jetbrains.kotlin.plugin.spring", version.ref = "kotlin" }
dokka = { id = "org.jetbrains.dokka", version.ref = "dokka" }
nexus-publish = { id = "io.github.gradle-nexus.publish-plugin", version.ref = "nexus" }
semver-git = { id = "io.wusa.semver-git-plugin", version.ref = "semver-git" }
openapi = { id = "org.openapi.generator", version.ref = "openapi-gen" }
spotless = { id = "com.diffplug.spotless", version.ref = "spotless" }
shadow = { id = "com.github.johnrengelman.shadow", version.ref = "shadow-jar"}


