openapi: 3.0.1
info:
  contact:
    email: help@openziti.org
    name: OpenZiti
    url: https://openziti.discourse.group
  description: OpenZiti Edge Management API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Ziti Edge Management
  version: 0.26.42
servers:
- url: https://demo.ziti.dev/edge/management/v1
paths:
  /:
    get:
      operationId: listRoot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listVersionEnvelope"
          description: Version information for the controller
      security: []
      summary: Returns version information
      tags:
      - Informational
      x-accepts:
      - application/json
  /.well-known/est/cacerts:
    get:
      description: |
        This endpoint is used during enrollments to bootstrap trust between enrolling clients and the Ziti Edge API.
        This endpoint returns a base64 encoded PKCS7 store. The content can be base64 decoded and parsed by any library
        that supports parsing PKCS7 stores.
      operationId: listWellKnownCas
      responses:
        "200":
          content:
            application/pkcs7-mime:
              schema:
                example: |
                  MIIMUQYJKoZIhvcNAQcCoIIMQjCCDD4CAQExADALBgkqhkiG9w0BBwGgggwkMIIG
                  BjCCA+6gAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwgZcxCzAJBgNVBAYTAlVTMRcw
                  FQYDVQQIDA5Ob3J0aCBDYXJvbGluYTESMBAGA1UEBwwJQ2hhcmxvdHRlMRMwEQYD
                  VQQKDApOZXRGb3VuZHJ5MSkwJwYDVQQLDCBOZXRGb3VuZHJ5IENlcnRpZmljYXRl
                  IEF1dGhvcml0eTEbMBkGA1UEAwwSTmV0Rm91bmRyeSBSb290IENBMB4XDTE4MDUx
                  ODE2NTcyM1oXDTI4MDUxNTE2NTcyM1owgYsxCzAJBgNVBAYTAlVTMRcwFQYDVQQI
                  DA5Ob3J0aCBDYXJvbGluYTETMBEGA1UECgwKTmV0Rm91bmRyeTEpMCcGA1UECwwg
                  TmV0Rm91bmRyeSBDZXJ0aWZpY2F0ZSBBdXRob3JpdHkxIzAhBgNVBAMMGk5ldEZv
                  dW5kcnkgSW50ZXJtZWRpYXRlIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIIC
                  CgKCAgEAsb1EPhMUweS9WpjT7L54xAOmZqugJ6fhSrFfLUwNUy172q+ASvZTpT1z
                  KIPcZpGmPB3TX2bHaAR67BbRkUR11JgWE3U8+FsGrYmPZtaKM6fg8Mh0WZ41oMYQ
                  NJyQixOktrgqfybyJoT5PeT5AA7QQmd8mku2X9nkAu6gWPf2nHNc7SeQdijmyQQa
                  VK3oqyaxOzWzsU/XbfMEz/ObkefUxgt5Z6jlK0xcW0Q+QgtawMKLUiuo6obWRPcl
                  7Hm9Sze8XJS5pbvS5JkUszxoRZuDVHZylrlHIpA/IL+BnvS+M7SP28UWe9skrv/s
                  6ACpJtuPJ1EYf5fakugOpY7i+hq7YNi//csbc49Qjn2OtttrR7JcTaHUEU1I/tQb
                  QGAtNkI4pJjRVUdDawQFQlWHZD1COixNLErs2HzAI00DhLrY6SKITI/kjN0Xx010
                  XdMcdfay0PLWm6RwxiRmMQFL4GNIC895NF1q6xV4W4rWgqUNlcvKpy+i1chWpRbU
                  He16ul0qh10fcESrRvAbXn5YrQJLrwbSr+85ubN8lYdNLE0qg2cIXZlUilarZZzW
                  ghtCe+KkUpjfRuAi/CqfSwNK3QXEfeVEK6S49mHeSekOizFIw7fmDhCz9vXwMOnb
                  ryRSLEJks0gIRcSDVChXheAqC98y4kcQdniNWFnqJXoqA+rrSokCAwEAAaNmMGQw
                  HQYDVR0OBBYEFK8UXC/sq6dGVFAqEXHsQDzqzwuUMB8GA1UdIwQYMBaAFEHz6RRu
                  OuXj2mwAzOeUinfWeivpMBIGA1UdEwEB/wQIMAYBAf8CAQAwDgYDVR0PAQH/BAQD
                  AgGGMA0GCSqGSIb3DQEBCwUAA4ICAQBDAAaOE2Nbb49eOjyTNxIeOB+ZKQjJ1hUE
                  gRrootAA8NYbtKW/vyxTWnNi5XOGXd4DFS9OKZ0mL/7NyLc0mbTwPH2ZT8KTPUTS
                  Cpo6yktZ/7TMjyAtWZiOMg2EH+6m/nlNSXk/v5fb8+JQLdZfpxoA017dHh3tc8l7
                  KOskCZNwQHgF/YMXrPXUNbsGkXRuJLtpjPw5O9GvPys7p+a1aJH1WCTly9zfB6j+
                  rMF+UGCPDT30sxitVlohik83j6pKLgEAP/gi8nJbILlTP7ce+gJeHR2tfDvmK91X
                  6QgCF2STUFBU7/9H1/pPRRykOxQpAd8xqSgqGEyp9Ie4tysZjwoUEnG8IVJ5ykrI
                  Fximvnb4B+LABV9WEo08n8m1R8wEryrISi8fBPn3Pr5nuayOfFLa15CLTkZF40FN
                  8ika1qNZy8bWRDwTZJQUUb7VCheRWcMwdZdNmhl3J+VZLpQ+ruW7b2ajwacHz5Nw
                  BHKNcmxXb/4vHq/BnlcayHnSqT6036+OZQ+owDegcYmWV6LaM7xLErjHz2EE38M2
                  YSiW5SU1zluDe+iHb6l3Gd3Fj/X1gkMWFgYh0XPMSUSyimLNYzy4THKzmWlcQNFo
                  LLiIDbLrMt+vk+vBkIsNTTPXRJOFPBhmIF6uIUj+2YhzNotX/pQtqMKms3pPlmHq
                  dH6biwygETCCBhYwggP+oAMCAQICCQDquKpymLJ5WzANBgkqhkiG9w0BAQsFADCB
                  lzELMAkGA1UEBhMCVVMxFzAVBgNVBAgMDk5vcnRoIENhcm9saW5hMRIwEAYDVQQH
                  DAlDaGFybG90dGUxEzARBgNVBAoMCk5ldEZvdW5kcnkxKTAnBgNVBAsMIE5ldEZv
                  dW5kcnkgQ2VydGlmaWNhdGUgQXV0aG9yaXR5MRswGQYDVQQDDBJOZXRGb3VuZHJ5
                  IFJvb3QgQ0EwHhcNMTgwNTE4MTY1NDQ3WhcNMzgwNTEzMTY1NDQ3WjCBlzELMAkG
                  A1UEBhMCVVMxFzAVBgNVBAgMDk5vcnRoIENhcm9saW5hMRIwEAYDVQQHDAlDaGFy
                  bG90dGUxEzARBgNVBAoMCk5ldEZvdW5kcnkxKTAnBgNVBAsMIE5ldEZvdW5kcnkg
                  Q2VydGlmaWNhdGUgQXV0aG9yaXR5MRswGQYDVQQDDBJOZXRGb3VuZHJ5IFJvb3Qg
                  Q0EwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDKq/Xa+749Cr3WJGYD
                  DIEtNKIRnTFc6TeiRSm/O7hG2+1Nrh/dObjZJuDjsopWP8NFA/DwlNyEphYKAeSw
                  HDmu+4nFd6ifoeDE2lYq6bNhLcgN+A3MlN5Phb2rnO32YYZwHXGWov+jtd2gaK0f
                  WsH8CQxn6n2v7qvPMTeYFP8p4jqTZw2bvZWw+LMYTFCy541DFqQLQasMg10mXRAV
                  XO7Oa9y+D1re1zLq4wS6u8ItJoKzfmvZkMvD90C/tQ4u0iJaL7GB2SE9MOPDeGVv
                  pnoSAIkSVmvRDUAj2x9PuukykzoL1OAWzc5Cg+5LxRmLejVE7PvPcHaTtNag2tRD
                  w2vbMeFKN8NvQH1QYcaPWZe4Vl9b6DAuTaH5RN919H/F+ZHyjZybVPwC14lflneI
                  KyNy8JEV/YMIbEADWnuiedzDehk2Opn+0+9Zr2X/xfjCo8iWHFbNaVnQX7wdRaOo
                  783lEouncqe46FDBLBpyAuDKHQpIT3MK8rkC/1yBNxsH44vMweUZuK0u7PC9KHtm
                  pQfuflYGfxA34kY6WU3jzyQHetoLYjoxTqNEEjuGpwy2o1j7RaCBEFIbYlnlbhpE
                  WFTaQf96z2GQ6m1U3y7JyDflHSu9Fo1JNkG3qXsjDwda/6W7NRJRgdFrhnOwrm7F
                  6L9X4P1HnzU/VJL66LwPmiHVjQIDAQABo2MwYTAdBgNVHQ4EFgQUQfPpFG465ePa
                  bADM55SKd9Z6K+kwHwYDVR0jBBgwFoAUQfPpFG465ePabADM55SKd9Z6K+kwDwYD
                  VR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAYYwDQYJKoZIhvcNAQELBQADggIB
                  ACfU74aKWROaxnue8tZb5PFkEbnDRcRrKXRhnptA0vrgB4ydnYxX9hEBZD8o6PBy
                  3rewvl5meSOBE6zyb4JD80lHdzHSVFIwbzsNOeEjCslv/PA/3Y+J7DCt6gPNMDeY
                  uEssdqeSiMoYz2gnven4flSMKgTAJd3/SpVrn35HzXiU9MkmFVpPEMnTctOjw+Jn
                  cCkG5+D9N14dxtgZ/tUfbH+GUfhyGVxRdPrX5KQqAyapMfEaMXXa8KNs7PG+sDiS
                  WI+Sg9jUGtxgkfKdVNtFW+QMXyy7eT3iXPA+1r2hFAhgfIaGtBJUhxPHMhKtjbAg
                  AX+6+2D3GAbaD1+lcQHhKry3hygQ3OX79FJW6zyPS0tiV/LfovHqX/3x9q5PTVBO
                  wEOS2/LCc4R2M7S+HIPf4eSJ+nH4uCIdJ42WCror/mRsuL7geCksi70GHuCynP4y
                  qQFszu/UtbBEsN8loTnLpOInxaGB1Y8UPm14b2Lo1/3HkoMVh0/UaHJ0TmnZ1r7m
                  fGhfRyAZYRdvT1sB+Eb4b5A2zEZqsTc9IwFOhnI4ZilPoZ5s2xejqrVw3GSvovEh
                  dprrQmvxuh+VQ23y/+/4z9b2xWyDu2zVveB4whqPe2rkgxJrEl4GfLk2DW+dN6j8
                  3Zl4lPoUZYwzkC6raCaHyFlAoaTbqz0H6rvVJYxJPS6UoQAxAA==
                type: string
          description: A base64 encoded PKCS7 store
      security: []
      summary: Get CA Cert Store
      tags:
      - Well Known
      x-accepts:
      - application/pkcs7-mime
  /api-sessions:
    get:
      description: |
        Returns a list of active API sessions. The resources can be sorted, filtered, and paginated. This endpoint
        requires admin access.
      operationId: listAPISessions
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      - in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/listApiSessionsEnvelope"
          description: A list of active API Sessions
        "400":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json; charset=utf-8:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: List active API sessions
      tags:
      - API Session
      x-accepts:
      - application/json
      - application/json; charset=utf-8
  /api-sessions/{id}:
    delete:
      description: Deletes and API sesion by id. Requires admin access.
      operationId: deleteAPISessions
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The delete request was successful and the resource has been
            removed
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "403":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      summary: Deletes an API Sessions
      tags:
      - API Session
      x-accepts:
      - application/json
    get:
      description: Retrieves a single API Session by id. Requires admin access.
      operationId: detailAPISessions
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detailApiSessionEnvelope"
          description: Retrieves a singular API Session by id
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Retrieves a single API Session
      tags:
      - API Session
      x-accepts:
      - application/json
  /auth-policies:
    get:
      description: Retrieves a list of Auth Policies
      operationId: listAuthPolicies
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      - in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAuthPoliciesEnvelope"
          description: A list of Auth Policies
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: List Auth Policies
      tags:
      - Auth Policy
      x-accepts:
      - application/json
    post:
      description: Creates an Auth Policy. Requires admin access.
      operationId: createAuthPolicy
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authPolicyCreate"
        description: An Auth Policy to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createEnvelope"
          description: The create request was successful and the resource has been
            added at the following location
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Creates an Auth Policy
      tags:
      - Auth Policy
      x-codegen-request-body-name: authPolicy
      x-content-type: application/json
      x-accepts:
      - application/json
  /auth-policies/{id}:
    delete:
      description: |
        Delete an Auth Policy by id. Requires admin access.
      operationId: deleteAuthPolicy
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The delete request was successful and the resource has been
            removed
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Delete an Auth Policy
      tags:
      - Auth Policy
      x-accepts:
      - application/json
    get:
      description: Retrieves a single Auth Policy by id. Requires admin access.
      operationId: detailAuthPolicy
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detailAuthPolicyEnvelope"
          description: A singular Auth Policy resource
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Retrieves a single Auth Policy
      tags:
      - Auth Policy
      x-accepts:
      - application/json
    patch:
      description: Update only the supplied fields on an Auth Policy by id. Requires
        admin access.
      operationId: patchAuthPolicy
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authPolicyPatch"
        description: An Auth Policy patch object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The patch request was successful and the resource has been
            altered
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Update the supplied fields on an Auth Policy
      tags:
      - Auth Policy
      x-codegen-request-body-name: authPolicy
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Update all fields on an Auth Policy by id. Requires admin access.
      operationId: updateAuthPolicy
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authPolicyUpdate"
        description: An Auth Policy update object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The update request was successful and the resource has been
            altered
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Update all fields on an Auth Policy
      tags:
      - Auth Policy
      x-codegen-request-body-name: authPolicy
      x-content-type: application/json
      x-accepts:
      - application/json
  /authenticate:
    post:
      description: |
        Allowed authentication methods include "password", "cert", and "ext-jwt"
      operationId: authenticate
      parameters:
      - in: query
        name: method
        required: true
        schema:
          enum:
          - password
          - cert
          - ext-jwt
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authenticate"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/currentApiSessionDetailEnvelope"
            default:
              example:
                data:
                  _links:
                    self:
                      href: ./current-api-session
                  configTypes: []
                  createdAt: 2020-03-09T19:03:49.1883693Z
                  expiresAt: 2020-03-09T19:34:21.5600897Z
                  id: 27343114-b44f-406e-9981-f3c4f2f28d54
                  identity:
                    _links:
                      self:
                        href: ./identities/66352d7b-a6b2-4ce9-85bb-9f18e318704d
                    id: 66352d7b-a6b2-4ce9-85bb-9f18e318704d
                    name: Default Admin
                    urlName: identities
                  tags:
                  - userField1: 123
                  - userField2: asdf
                  token: 28bb0ed2-0577-4632-ae70-d17106b92871
                  updatedAt: 2020-03-09T19:04:21.5600897Z
                meta: {}
          description: The API session associated with the session used to issue the
            request
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: INVALID_AUTH
                  message: The authentication request failed
                  requestId: 5952ed10-3091-474f-a691-47ebab6990dc
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The authentication request could not be processed as the credentials
            are invalid
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security: []
      summary: Authenticate via a method supplied via a query string parameter
      tags:
      - Authentication
      x-codegen-request-body-name: auth
      x-content-type: application/json
      x-accepts:
      - application/json
      - default
  /authenticate/mfa:
    post:
      description: Completes MFA authentication by submitting a MFA time based one
        time token or backup code.
      operationId: authenticateMfa
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mfaCode"
        description: An MFA validation request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Complete MFA authentication
      tags:
      - Authentication
      - MFA
      x-codegen-request-body-name: mfaAuth
      x-content-type: application/json
      x-accepts:
      - application/json
  /authenticators:
    get:
      description: |
        Returns a list of authenticators associated to identities. The resources can be sorted, filtered, and paginated.
        This endpoint requires admin access.
      operationId: listAuthenticators
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      - in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAuthenticatorsEnvelope"
          description: A list of authenticators
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: List authenticators
      tags:
      - Authenticator
      x-accepts:
      - application/json
    post:
      description: |
        Creates an authenticator for a specific identity. Requires admin access.
      operationId: createAuthenticator
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authenticatorCreate"
        description: A Authenticator create object
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createEnvelope"
          description: The create request was successful and the resource has been
            added at the following location
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Creates an authenticator
      tags:
      - Authenticator
      x-codegen-request-body-name: authenticator
      x-content-type: application/json
      x-accepts:
      - application/json
  /authenticators/{id}:
    delete:
      description: |
        Delete an authenticator by id. Deleting all authenticators for an identity will make it impossible to log in.
        Requires admin access.
      operationId: deleteAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The delete request was successful and the resource has been
            removed
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Delete an Authenticator
      tags:
      - Authenticator
      x-accepts:
      - application/json
    get:
      description: Retrieves a single authenticator by id. Requires admin access.
      operationId: detailAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detailAuthenticatorEnvelope"
          description: A singular authenticator resource
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Retrieves a single authenticator
      tags:
      - Authenticator
      x-accepts:
      - application/json
    patch:
      description: Update the supplied fields on an authenticator by id. Requires
        admin access.
      operationId: patchAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authenticatorPatch"
        description: An authenticator patch object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The patch request was successful and the resource has been
            altered
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Update the supplied fields on an authenticator
      tags:
      - Authenticator
      x-codegen-request-body-name: authenticator
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: Update all fields on an authenticator by id. Requires admin access.
      operationId: updateAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authenticatorUpdate"
        description: An authenticator put object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The update request was successful and the resource has been
            altered
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Update all fields on an authenticator
      tags:
      - Authenticator
      x-codegen-request-body-name: authenticator
      x-content-type: application/json
      x-accepts:
      - application/json
  /authenticators/{id}/re-enroll:
    post:
      description: "Allows an authenticator to be reverted to an enrollment and allows\
        \ re-enrollment to occur. On success the \ncreated enrollment record response\
        \ is provided and the source authenticator record will be deleted. The \n\
        enrollment created depends on the authenticator. UPDB authenticators result\
        \ in UPDB enrollments, CERT\nauthenticators result in OTT enrollments, CERT\
        \ + CA authenticators result in OTTCA enrollments.\n"
      operationId: reEnrollAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/reEnroll"
        description: A reEnrollment request
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createEnvelope"
          description: The create request was successful and the resource has been
            added at the following location
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Reverts an authenticator to an enrollment
      tags:
      - Authenticator
      x-codegen-request-body-name: reEnroll
      x-content-type: application/json
      x-accepts:
      - application/json
  /cas:
    get:
      description: "Retrieves a list of CA resources; supports filtering, sorting,\
        \ and pagination. Requires admin access."
      operationId: listCas
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      - in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCasEnvelope"
          description: A list of Certificate Authorities (CAs)
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: List CAs
      tags:
      - Certificate Authority
      x-accepts:
      - application/json
    post:
      description: Creates a CA in an unverified state. Requires admin access.
      operationId: createCa
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/caCreate"
        description: A CA to create
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createEnvelope"
          description: The create request was successful and the resource has been
            added at the following location
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Creates a CA
      tags:
      - Certificate Authority
      x-codegen-request-body-name: ca
      x-content-type: application/json
      x-accepts:
      - application/json
  /cas/{id}:
    delete:
      description: |
        Delete a CA by id. Deleting a CA will delete its associated certificate authenticators. This can make it
        impossible for identities to authenticate if they no longer have any valid authenticators. Requires admin access.
      operationId: deleteCa
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The delete request was successful and the resource has been
            removed
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Delete a CA
      tags:
      - Certificate Authority
      x-accepts:
      - application/json
    get:
      description: Retrieves a single CA by id. Requires admin access.
      operationId: detailCa
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detailCaEnvelope"
          description: A singular Certificate Authority (CA) resource
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
        "503":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The request could not be completed due to the server being
            busy or in a temporarily bad state
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Retrieves a single CA
      tags:
      - Certificate Authority
      x-accepts:
      - application/json
    patch:
      description: Update only the supplied fields on a CA by id. Requires admin access.
      operationId: patchCa
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/caPatch"
        description: A CA patch object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The patch request was successful and the resource has been
            altered
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
[...]
