openapi: 3.0.1
info:
  contact:
    email: help@openziti.org
    name: OpenZiti
    url: https://openziti.discourse.group
  description: OpenZiti Edge Client API
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Ziti Edge Client
  version: 0.26.18
servers:
- url: https://demo.ziti.dev/edge/client/v1
paths:
  /:
    get:
      operationId: listRoot
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listVersionEnvelope"
          description: Version information for the controller
      security: []
      summary: Returns version information
      tags:
      - Informational
      x-accepts:
      - application/json
  /.well-known/est/cacerts:
    get:
      description: |
        This endpoint is used during enrollments to bootstrap trust between enrolling clients and the Ziti Edge API.
        This endpoint returns a base64 encoded PKCS7 store. The content can be base64 decoded and parsed by any library
        that supports parsing PKCS7 stores.
      operationId: listWellKnownCas
      responses:
        "200":
          content:
            application/pkcs7-mime:
              schema:
                example: |
                  MIIMUQYJKoZIhvcNAQcCoIIMQjCCDD4CAQExADALBgkqhkiG9w0BBwGgggwkMIIG
                  BjCCA+6gAwIBAgICEAAwDQYJKoZIhvcNAQELBQAwgZcxCzAJBgNVBAYTAlVTMRcw
                  FQYDVQQIDA5Ob3J0aCBDYXJvbGluYTESMBAGA1UEBwwJQ2hhcmxvdHRlMRMwEQYD
                  VQQKDApOZXRGb3VuZHJ5MSkwJwYDVQQLDCBOZXRGb3VuZHJ5IENlcnRpZmljYXRl
                  IEF1dGhvcml0eTEbMBkGA1UEAwwSTmV0Rm91bmRyeSBSb290IENBMB4XDTE4MDUx
                  ODE2NTcyM1oXDTI4MDUxNTE2NTcyM1owgYsxCzAJBgNVBAYTAlVTMRcwFQYDVQQI
                  DA5Ob3J0aCBDYXJvbGluYTETMBEGA1UECgwKTmV0Rm91bmRyeTEpMCcGA1UECwwg
                  TmV0Rm91bmRyeSBDZXJ0aWZpY2F0ZSBBdXRob3JpdHkxIzAhBgNVBAMMGk5ldEZv
                  dW5kcnkgSW50ZXJtZWRpYXRlIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIIC
                  CgKCAgEAsb1EPhMUweS9WpjT7L54xAOmZqugJ6fhSrFfLUwNUy172q+ASvZTpT1z
                  KIPcZpGmPB3TX2bHaAR67BbRkUR11JgWE3U8+FsGrYmPZtaKM6fg8Mh0WZ41oMYQ
                  NJyQixOktrgqfybyJoT5PeT5AA7QQmd8mku2X9nkAu6gWPf2nHNc7SeQdijmyQQa
                  VK3oqyaxOzWzsU/XbfMEz/ObkefUxgt5Z6jlK0xcW0Q+QgtawMKLUiuo6obWRPcl
                  7Hm9Sze8XJS5pbvS5JkUszxoRZuDVHZylrlHIpA/IL+BnvS+M7SP28UWe9skrv/s
                  6ACpJtuPJ1EYf5fakugOpY7i+hq7YNi//csbc49Qjn2OtttrR7JcTaHUEU1I/tQb
                  QGAtNkI4pJjRVUdDawQFQlWHZD1COixNLErs2HzAI00DhLrY6SKITI/kjN0Xx010
                  XdMcdfay0PLWm6RwxiRmMQFL4GNIC895NF1q6xV4W4rWgqUNlcvKpy+i1chWpRbU
                  He16ul0qh10fcESrRvAbXn5YrQJLrwbSr+85ubN8lYdNLE0qg2cIXZlUilarZZzW
                  ghtCe+KkUpjfRuAi/CqfSwNK3QXEfeVEK6S49mHeSekOizFIw7fmDhCz9vXwMOnb
                  ryRSLEJks0gIRcSDVChXheAqC98y4kcQdniNWFnqJXoqA+rrSokCAwEAAaNmMGQw
                  HQYDVR0OBBYEFK8UXC/sq6dGVFAqEXHsQDzqzwuUMB8GA1UdIwQYMBaAFEHz6RRu
                  OuXj2mwAzOeUinfWeivpMBIGA1UdEwEB/wQIMAYBAf8CAQAwDgYDVR0PAQH/BAQD
                  AgGGMA0GCSqGSIb3DQEBCwUAA4ICAQBDAAaOE2Nbb49eOjyTNxIeOB+ZKQjJ1hUE
                  gRrootAA8NYbtKW/vyxTWnNi5XOGXd4DFS9OKZ0mL/7NyLc0mbTwPH2ZT8KTPUTS
                  Cpo6yktZ/7TMjyAtWZiOMg2EH+6m/nlNSXk/v5fb8+JQLdZfpxoA017dHh3tc8l7
                  KOskCZNwQHgF/YMXrPXUNbsGkXRuJLtpjPw5O9GvPys7p+a1aJH1WCTly9zfB6j+
                  rMF+UGCPDT30sxitVlohik83j6pKLgEAP/gi8nJbILlTP7ce+gJeHR2tfDvmK91X
                  6QgCF2STUFBU7/9H1/pPRRykOxQpAd8xqSgqGEyp9Ie4tysZjwoUEnG8IVJ5ykrI
                  Fximvnb4B+LABV9WEo08n8m1R8wEryrISi8fBPn3Pr5nuayOfFLa15CLTkZF40FN
                  8ika1qNZy8bWRDwTZJQUUb7VCheRWcMwdZdNmhl3J+VZLpQ+ruW7b2ajwacHz5Nw
                  BHKNcmxXb/4vHq/BnlcayHnSqT6036+OZQ+owDegcYmWV6LaM7xLErjHz2EE38M2
                  YSiW5SU1zluDe+iHb6l3Gd3Fj/X1gkMWFgYh0XPMSUSyimLNYzy4THKzmWlcQNFo
                  LLiIDbLrMt+vk+vBkIsNTTPXRJOFPBhmIF6uIUj+2YhzNotX/pQtqMKms3pPlmHq
                  dH6biwygETCCBhYwggP+oAMCAQICCQDquKpymLJ5WzANBgkqhkiG9w0BAQsFADCB
                  lzELMAkGA1UEBhMCVVMxFzAVBgNVBAgMDk5vcnRoIENhcm9saW5hMRIwEAYDVQQH
                  DAlDaGFybG90dGUxEzARBgNVBAoMCk5ldEZvdW5kcnkxKTAnBgNVBAsMIE5ldEZv
                  dW5kcnkgQ2VydGlmaWNhdGUgQXV0aG9yaXR5MRswGQYDVQQDDBJOZXRGb3VuZHJ5
                  IFJvb3QgQ0EwHhcNMTgwNTE4MTY1NDQ3WhcNMzgwNTEzMTY1NDQ3WjCBlzELMAkG
                  A1UEBhMCVVMxFzAVBgNVBAgMDk5vcnRoIENhcm9saW5hMRIwEAYDVQQHDAlDaGFy
                  bG90dGUxEzARBgNVBAoMCk5ldEZvdW5kcnkxKTAnBgNVBAsMIE5ldEZvdW5kcnkg
                  Q2VydGlmaWNhdGUgQXV0aG9yaXR5MRswGQYDVQQDDBJOZXRGb3VuZHJ5IFJvb3Qg
                  Q0EwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDKq/Xa+749Cr3WJGYD
                  DIEtNKIRnTFc6TeiRSm/O7hG2+1Nrh/dObjZJuDjsopWP8NFA/DwlNyEphYKAeSw
                  HDmu+4nFd6ifoeDE2lYq6bNhLcgN+A3MlN5Phb2rnO32YYZwHXGWov+jtd2gaK0f
                  WsH8CQxn6n2v7qvPMTeYFP8p4jqTZw2bvZWw+LMYTFCy541DFqQLQasMg10mXRAV
                  XO7Oa9y+D1re1zLq4wS6u8ItJoKzfmvZkMvD90C/tQ4u0iJaL7GB2SE9MOPDeGVv
                  pnoSAIkSVmvRDUAj2x9PuukykzoL1OAWzc5Cg+5LxRmLejVE7PvPcHaTtNag2tRD
                  w2vbMeFKN8NvQH1QYcaPWZe4Vl9b6DAuTaH5RN919H/F+ZHyjZybVPwC14lflneI
                  KyNy8JEV/YMIbEADWnuiedzDehk2Opn+0+9Zr2X/xfjCo8iWHFbNaVnQX7wdRaOo
                  783lEouncqe46FDBLBpyAuDKHQpIT3MK8rkC/1yBNxsH44vMweUZuK0u7PC9KHtm
                  pQfuflYGfxA34kY6WU3jzyQHetoLYjoxTqNEEjuGpwy2o1j7RaCBEFIbYlnlbhpE
                  WFTaQf96z2GQ6m1U3y7JyDflHSu9Fo1JNkG3qXsjDwda/6W7NRJRgdFrhnOwrm7F
                  6L9X4P1HnzU/VJL66LwPmiHVjQIDAQABo2MwYTAdBgNVHQ4EFgQUQfPpFG465ePa
                  bADM55SKd9Z6K+kwHwYDVR0jBBgwFoAUQfPpFG465ePabADM55SKd9Z6K+kwDwYD
                  VR0TAQH/BAUwAwEB/zAOBgNVHQ8BAf8EBAMCAYYwDQYJKoZIhvcNAQELBQADggIB
                  ACfU74aKWROaxnue8tZb5PFkEbnDRcRrKXRhnptA0vrgB4ydnYxX9hEBZD8o6PBy
                  3rewvl5meSOBE6zyb4JD80lHdzHSVFIwbzsNOeEjCslv/PA/3Y+J7DCt6gPNMDeY
                  uEssdqeSiMoYz2gnven4flSMKgTAJd3/SpVrn35HzXiU9MkmFVpPEMnTctOjw+Jn
                  cCkG5+D9N14dxtgZ/tUfbH+GUfhyGVxRdPrX5KQqAyapMfEaMXXa8KNs7PG+sDiS
                  WI+Sg9jUGtxgkfKdVNtFW+QMXyy7eT3iXPA+1r2hFAhgfIaGtBJUhxPHMhKtjbAg
                  AX+6+2D3GAbaD1+lcQHhKry3hygQ3OX79FJW6zyPS0tiV/LfovHqX/3x9q5PTVBO
                  wEOS2/LCc4R2M7S+HIPf4eSJ+nH4uCIdJ42WCror/mRsuL7geCksi70GHuCynP4y
                  qQFszu/UtbBEsN8loTnLpOInxaGB1Y8UPm14b2Lo1/3HkoMVh0/UaHJ0TmnZ1r7m
                  fGhfRyAZYRdvT1sB+Eb4b5A2zEZqsTc9IwFOhnI4ZilPoZ5s2xejqrVw3GSvovEh
                  dprrQmvxuh+VQ23y/+/4z9b2xWyDu2zVveB4whqPe2rkgxJrEl4GfLk2DW+dN6j8
                  3Zl4lPoUZYwzkC6raCaHyFlAoaTbqz0H6rvVJYxJPS6UoQAxAA==
                type: string
          description: A base64 encoded PKCS7 store
      security: []
      summary: Get CA Cert Store
      tags:
      - Well Known
      x-accepts:
      - application/pkcs7-mime
  /authenticate:
    post:
      description: |
        Allowed authentication methods include "password", "cert", and "ext-jwt"
      operationId: authenticate
      parameters:
      - in: query
        name: method
        required: true
        schema:
          enum:
          - password
          - cert
          - ext-jwt
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authenticate"
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/currentApiSessionDetailEnvelope"
            default:
              example:
                data:
                  _links:
                    self:
                      href: ./current-api-session
                  configTypes: []
                  createdAt: 2020-03-09T19:03:49.1883693Z
                  expiresAt: 2020-03-09T19:34:21.5600897Z
                  id: 27343114-b44f-406e-9981-f3c4f2f28d54
                  identity:
                    _links:
                      self:
                        href: ./identities/66352d7b-a6b2-4ce9-85bb-9f18e318704d
                    id: 66352d7b-a6b2-4ce9-85bb-9f18e318704d
                    name: Default Admin
                    urlName: identities
                  tags:
                  - userField1: 123
                  - userField2: asdf
                  token: 28bb0ed2-0577-4632-ae70-d17106b92871
                  updatedAt: 2020-03-09T19:04:21.5600897Z
                meta: {}
          description: The API session associated with the session used to issue the
            request
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: INVALID_AUTH
                  message: The authentication request failed
                  requestId: 5952ed10-3091-474f-a691-47ebab6990dc
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The authentication request could not be processed as the credentials
            are invalid
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security: []
      summary: Authenticate via a method supplied via a query string parameter
      tags:
      - Authentication
      x-codegen-request-body-name: auth
      x-content-type: application/json
      x-accepts:
      - application/json
      - default
  /authenticate/mfa:
    post:
      description: Completes MFA authentication by submitting a MFA time based one
        time token or backup code.
      operationId: authenticateMfa
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mfaCode"
        description: An MFA validation request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Complete MFA authentication
      tags:
      - Authentication
      - MFA
      x-codegen-request-body-name: mfaAuth
      x-content-type: application/json
      x-accepts:
      - application/json
  /controllers:
    get:
      description: Retrieves a list of controllers
      operationId: listControllers
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      - in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listControllersEnvelope"
          description: A list of controllers
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: List controllers
      tags:
      - Controllers
      x-accepts:
      - application/json
  /current-api-session:
    delete:
      description: Terminates the current API session
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Logout
      tags:
      - Current API Session
      x-accepts:
      - application/json
    get:
      description: Retrieves the API session that was used to issue the current request
      operationId: getCurrentAPISession
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/currentApiSessionDetailEnvelope"
            default:
              example:
                data:
                  _links:
                    self:
                      href: ./current-api-session
                  configTypes: []
                  createdAt: 2020-03-09T19:03:49.1883693Z
                  expiresAt: 2020-03-09T19:34:21.5600897Z
                  id: 27343114-b44f-406e-9981-f3c4f2f28d54
                  identity:
                    _links:
                      self:
                        href: ./identities/66352d7b-a6b2-4ce9-85bb-9f18e318704d
                    id: 66352d7b-a6b2-4ce9-85bb-9f18e318704d
                    name: Default Admin
                    urlName: identities
                  tags:
                  - userField1: 123
                  - userField2: asdf
                  token: 28bb0ed2-0577-4632-ae70-d17106b92871
                  updatedAt: 2020-03-09T19:04:21.5600897Z
                meta: {}
          description: The API session associated with the session used to issue the
            request
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Return the current API session
      tags:
      - Current API Session
      x-accepts:
      - application/json
      - default
  /current-api-session/certificates:
    get:
      description: "Retrieves a list of certificate resources for the current API\
        \ session; supports filtering, sorting, and pagination"
      operationId: listCurrentApiSessionCertificates
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      - in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCurrentApiSessionCertificatesEnvelope"
          description: A list of the current API Session's certificate
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: List the ephemeral certificates available for the current API Session
      tags:
      - Current API Session
      x-accepts:
      - application/json
    post:
      description: Creates an ephemeral certificate for the current API Session. This
        endpoint expects a PEM encoded CSRs to be provided for fulfillment as a property
        of a JSON payload. It is up to the client to manage the private key backing
        the CSR request.
      operationId: createCurrentApiSessionCertificate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/currentApiSessionCertificateCreate"
        description: The payload describing the CSR used to create a session certificate
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createCurrentApiSessionCertificateEnvelope"
          description: A response of a create API Session certificate
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Creates an ephemeral certificate for the current API Session
      tags:
      - Current API Session
      x-codegen-request-body-name: sessionCertificate
      x-content-type: application/json
      x-accepts:
      - application/json
  /current-api-session/certificates/{id}:
    delete:
      description: |
        Delete an ephemeral certificateby id
      operationId: deleteCurrentApiSessionCertificate
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The delete request was successful and the resource has been
            removed
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Delete an ephemeral certificate
      tags:
      - Current API Session
      x-accepts:
      - application/json
    get:
      description: Retrieves a single ephemeral certificate by id
      operationId: detailCurrentApiSessionCertificate
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detailCurrentApiSessionCertificateEnvelope"
          description: A response containing a single API Session certificate
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Retrieves an ephemeral certificate
      tags:
      - Current API Session
      x-accepts:
      - application/json
  /current-api-session/service-updates:
    get:
      description: |
        Retrieves data indicating the last time data relevant to this API Session was altered that would necessitate
        service refreshes.
      operationId: listServiceUpdates
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCurrentApiSessionServiceUpdatesEnvelope"
          description: Data indicating necessary service updates
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Returns data indicating whether a client should updates it service
        list
      tags:
      - Current API Session
      - Services
      x-accepts:
      - application/json
  /current-identity:
    get:
      description: Returns the identity associated with the API sessions used to issue
        the current request
      operationId: getCurrentIdentity
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/currentIdentityDetailEnvelope"
            default:
              example:
                data:
                  _links:
                    edge-router-policies:
                      href: ./identities/66352d7b-a6b2-4ce9-85bb-9f18e318704d/edge-routers
                    self:
                      href: ./identities/66352d7b-a6b2-4ce9-85bb-9f18e318704d
                    service-policies:
                      href: ./identities/66352d7b-a6b2-4ce9-85bb-9f18e318704d/identities
                  authenticators:
                    updb:
                      username: admin
                  createdAt: 2020-01-13T16:38:13.6854788Z
                  enrollment: {}
                  id: 66352d7b-a6b2-4ce9-85bb-9f18e318704d
                  isAdmin: true
                  isDefaultAdmin: true
                  name: Default Admin
                  roleAttributes: []
                  tags: {}
                  type:
                    _links:
                      self:
                        href: ./identity-types/User
                    id: User
                    name: User
                    urlName: identity-types
                  updatedAt: 2020-01-13T16:38:13.6854788Z
                meta: {}
          description: The identity associated with the API Session used to issue
            the request
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Return the current identity
      tags:
      - Current Identity
      x-accepts:
      - application/json
      - default
  /current-identity/authenticators:
    get:
      description: "Retrieves a list of authenticators assigned to the current API\
        \ session's identity; supports filtering, sorting, and pagination."
      operationId: listCurrentIdentityAuthenticators
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      - in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listAuthenticatorsEnvelope"
          description: A list of authenticators
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: List authenticators for the current identity
      tags:
      - Current API Session
      x-accepts:
      - application/json
  /current-identity/authenticators/{id}:
    get:
      description: Retrieves a single authenticator by id. Will only show authenticators
        assigned to the API session's identity.
      operationId: detailCurrentIdentityAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detailAuthenticatorEnvelope"
          description: A singular authenticator resource
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Retrieve an authenticator for the current identity
      tags:
      - Current API Session
      x-accepts:
      - application/json
    patch:
      description: |
        Update the supplied fields on an authenticator by id. Will only update authenticators assigned to the API
        session's identity.
      operationId: patchCurrentIdentityAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authenticatorPatchWithCurrent"
        description: An authenticator patch object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The patch request was successful and the resource has been
            altered
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Update the supplied fields on an authenticator of this identity
      tags:
      - Current API Session
      x-codegen-request-body-name: authenticator
      x-content-type: application/json
      x-accepts:
      - application/json
    put:
      description: |
        Update all fields on an authenticator by id.  Will only update authenticators assigned to the API session's
        identity.
      operationId: updateCurrentIdentityAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/authenticatorUpdateWithCurrent"
        description: An authenticator put object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: The update request was successful and the resource has been
            altered
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Update all fields on an authenticator of this identity
      tags:
      - Current API Session
      x-codegen-request-body-name: authenticator
      x-content-type: application/json
      x-accepts:
      - application/json
  /current-identity/authenticators/{id}/extend:
    post:
      description: |-
        This endpoint only functions for certificates issued by the controller. 3rd party certificates are not handled.
        Allows an identity to extend its certificate's expiration date by using its current and valid client certificate to submit a CSR. This CSR may be passed in using a new private key, thus allowing private key rotation.
        The response from this endpoint is a new client certificate which the client must  be verified via the /authenticators/{id}/extend-verify endpoint.
        After verification is completion any new connections must be made with new certificate. Prior to verification the old client certificate remains active.
      operationId: extendCurrentIdentityAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/identityExtendEnrollmentRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/identityExtendEnrollmentEnvelope"
          description: A response containg the identity's new certificate
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Allows the current identity to recieve a new certificate associated
        with a certificate based authenticator
      tags:
      - Current API Session
      - Enroll
      - Extend Enrollment
      x-codegen-request-body-name: extend
      x-content-type: application/json
      x-accepts:
      - application/json
  /current-identity/authenticators/{id}/extend-verify:
    post:
      description: |-
        After submitting a CSR for a new client certificate the resulting public certificate must be re-submitted to this endpoint to verify receipt.
        After receipt, the new client certificate must be used for new authentication requests.
      operationId: extendVerifyCurrentIdentityAuthenticator
      parameters:
      - description: The id of the requested resource
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/identityExtendValidateEnrollmentRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Allows the current identity to validate reciept of a new client certificate
      tags:
      - Current API Session
      - Enroll
      - Extend Enrollment
      x-codegen-request-body-name: extend
      x-content-type: application/json
      x-accepts:
      - application/json
  /current-identity/edge-routers:
    get:
      description: |
        Lists the Edge Routers that the current identity has access to via policies. The data returned
        includes their address and online status
      operationId: getCurrentIdentityEdgeRouters
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listCurrentIdentityEdgeRoutersEnvelope"
          description: A list of edge routers
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Return this list of Edge Routers the identity has access to
      tags:
      - Current Identity
      - Edge Router
      x-accepts:
      - application/json
  /current-identity/mfa:
    delete:
      description: |
        Disable MFA for the current identity. Requires a current valid time based one time password if MFA enrollment has been completed. If not, code should be an empty string. If one time passwords are not available and admin account can be used to remove MFA from the identity via `DELETE /identities/<id>/mfa`.
      operationId: deleteMfa
      parameters:
      - in: header
        name: mfa-validation-code
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Disable MFA for the current identity
      tags:
      - Current Identity
      - MFA
      x-accepts:
      - application/json
    get:
      description: |
        Returns details about the current MFA enrollment. If enrollment has not been completed it will return the current MFA configuration details necessary to complete a `POST /current-identity/mfa/verify`.
      operationId: detailMfa
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detailMfaEnvelope"
          description: The details of an MFA enrollment
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Returns the current status of MFA enrollment
      tags:
      - Current Identity
      - MFA
      x-accepts:
      - application/json
    post:
      description: |
        Allows authenticator based MFA enrollment. If enrollment has already been completed, it must be disabled before attempting to re-enroll. Subsequent enrollment request is completed via `POST /current-identity/mfa/verify`
      operationId: enrollMfa
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/createEnvelope"
          description: The create request was successful and the resource has been
            added at the following location
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "409":
          content:
            application/json:
              example:
                error:
                  causeMessage: ""
                  code: ALREADY_MFA_ENROLLED
                  message: The identity is already enrolled in MFA
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The identity is already enrolled in MFA
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Initiate MFA enrollment
      tags:
      - Current Identity
      - MFA
      x-accepts:
      - application/json
  /current-identity/mfa/qr-code:
    get:
      description: |
        Shows an QR code image for unverified MFA enrollments. 404s if the MFA enrollment has been completed or not started.
      operationId: detailMfaQrCode
      responses:
        "200":
          content: {}
          description: OK
        "404":
          content: {}
          description: No MFA enrollment or MFA enrollment is completed
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Show a QR code for unverified MFA enrollments
      tags:
      - Current Identity
      - MFA
      x-accepts:
      - application/json
  /current-identity/mfa/recovery-codes:
    get:
      description: |
        Allows the viewing of recovery codes of an MFA enrollment. Requires a current valid time based one time password to interact with. Available after a completed MFA enrollment.
      operationId: detailMfaRecoveryCodes
      parameters:
      - in: header
        name: mfa-validation-code
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mfaCode"
        description: An MFA validation request
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: For a completed MFA enrollment view the current recovery codes
      tags:
      - Current Identity
      - MFA
      x-codegen-request-body-name: mfaValidation
      x-content-type: application/json
      x-accepts:
      - application/json
    post:
      description: |
        Allows regeneration of recovery codes of an MFA enrollment. Requires a current valid time based one time password to interact with. Available after a completed MFA enrollment. This replaces all existing recovery codes.
      operationId: createMfaRecoveryCodes
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mfaCode"
        description: An MFA validation request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/detailMfaRecoveryCodesEnvelope"
          description: The recovery codes of an MFA enrollment
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: For a completed MFA enrollment regenerate the recovery codes
      tags:
      - Current Identity
      - MFA
      x-codegen-request-body-name: mfaValidation
      x-content-type: application/json
      x-accepts:
      - application/json
  /current-identity/mfa/verify:
    post:
      description: |
        Completes MFA enrollment by accepting a time based one time password as verification. Called after MFA enrollment has been initiated via `POST /current-identity/mfa`.
      operationId: verifyMfa
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/mfaCode"
        description: An MFA validation request
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: Complete MFA enrollment by verifying a time based one time token
      tags:
      - Current Identity
      - MFA
      x-codegen-request-body-name: mfaValidation
      x-content-type: application/json
      x-accepts:
      - application/json
  /enroll:
    post:
      description: present a OTT and CSR to receive a long-lived client certificate
      operationId: enroll
      parameters:
      - in: query
        name: token
        schema:
          format: uuid
          type: string
      - in: query
        name: method
        schema:
          type: string
      responses:
        "200":
          content:
            application/x-pem-file:
              schema:
                $ref: "#/components/schemas/empty"
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "404":
          content:
            application/x-pem-file:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/x-pem-file:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      summary: Enroll an identity via one-time-token
      tags:
      - Enroll
      x-accepts:
      - application/json
      - application/x-pem-file
  /enroll/ca:
    post:
      description: |
        For CA auto enrollment, an identity is not created beforehand.
        Instead one will be created during enrollment. The client will present a client certificate that is signed by a
        Certificate Authority that has been added and verified (See POST /cas and POST /cas/{id}/verify).

        During this process no CSRs are requires as the client should already be in possession of a valid certificate.
      operationId: enrollCa
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      summary: Enroll an identity with a pre-exchanged certificate
      tags:
      - Enroll
      x-accepts:
      - application/json
  /enroll/erott:
    post:
      description: |
        Enrolls an edge-router via a one-time-token to establish a certificate based identity.
      operationId: enrollErOtt
      parameters:
      - in: query
        name: token
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/enrollmentCertsEnvelope"
          description: "A response containing the edge routers signed certificates\
            \ (server chain, server cert, CAs)."
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      summary: Enroll an edge-router
      tags:
      - Enroll
      x-accepts:
      - application/json
  /enroll/extend/router:
    post:
      description: |
        Allows a router to extend its certificates' expiration date by
        using its current and valid client certificate to submit a CSR. This CSR may
        be passed in using a new private key, thus allowing private key rotation or swapping.

        After completion any new connections must be made with certificates returned from a 200 OK
        response. The previous client certificate is rendered invalid for use with the controller even if it
        has not expired.

        This request must be made using the existing, valid, client certificate.
      operationId: extendRouterEnrollment
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/routerExtendEnrollmentRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/enrollmentCertsEnvelope"
          description: "A response containg the edge routers new signed certificates\
            \ (server chain, server cert, CAs)."
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      summary: Extend the life of a currently enrolled router's certificates
      tags:
      - Enroll
      - Extend Enrollment
      x-codegen-request-body-name: routerExtendEnrollmentRequest
      x-content-type: application/json
      x-accepts:
      - application/json
  /enroll/ott:
    post:
      description: |
        Enroll an identity via a one-time-token which is supplied via a query string parameter. This enrollment method
        expects a PEM encoded CSRs to be provided for fulfillment. It is up to the enrolling identity to manage the
        private key backing the CSR request.
      operationId: enrollOtt
      parameters:
      - in: query
        name: token
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/x-x509-user-cert:
              example: |
                -----BEGIN CERTIFICATE-----
                MIICzDCCAlGgAwIBAgIRAPkVg1jVKqnNGFpSB3lPbaIwCgYIKoZIzj0EAwIwXjEL
                MAkGA1UEBhMCVVMxCzAJBgNVBAgMAk5DMRMwEQYDVQQKDApOZXRGb3VuZHJ5MS0w
                KwYDVQQDDCROZXRGb3VuZHJ5IFppdGkgRXh0ZXJuYWwgQVBJIFJvb3QgQ0EwHhcN
                MTgxMTE1MTI1NzE3WhcNMTkxMTI1MTI1NzE3WjBrMQswCQYDVQQGEwJVUzELMAkG
                A1UECAwCTkMxEjAQBgNVBAcMCUNoYXJsb3R0ZTETMBEGA1UECgwKTmV0Rm91bmRy
                eTEPMA0GA1UECwwGQWR2RGV2MRUwEwYDVQQDDAxaaXRpQ2xpZW50MDEwdjAQBgcq
                hkjOPQIBBgUrgQQAIgNiAATTl2ft+/K9RvDgki9gSr9udNcV2bxD4LrWEdCdXNzF
                iVUiEcEte9z/M0JRt8lgo17OjFvS+ecrAmLtIZNmQnH3+9YeafjeNPpvQsMKxlTN
                MnU7Hka11GHc6swQZSyHvlKjgcUwgcIwCQYDVR0TBAIwADARBglghkgBhvhCAQEE
                BAMCBaAwMwYJYIZIAYb4QgENBCYWJE9wZW5TU0wgR2VuZXJhdGVkIENsaWVudCBD
                ZXJ0aWZpY2F0ZTAdBgNVHQ4EFgQUtx+Tej6lSYdjb8Jbc2QuvoEsI/swHwYDVR0j
                BBgwFoAUcdTlRrnP43ZbQ3PGAbZMPE26+H4wDgYDVR0PAQH/BAQDAgXgMB0GA1Ud
                JQQWMBQGCCsGAQUFBwMCBggrBgEFBQcDBDAKBggqhkjOPQQDAgNpADBmAjEAuXDS
                H7KKMr+la+Yuh8d8Q9cLtXzdS0j6a8e7iOyPJmdWq2WuzNdbCfAfLgKXuxhSAjEA
                sadZrXl1OBv11RGAKdYBIyRmfYUotCFAtCNKcfgBUxci0TDaKDA7r3jnjKT1d7Fs
                -----END CERTIFICATE-----
              schema:
                type: string
          description: A PEM encoded certificate signed by the internal Ziti CA
        "404":
          content:
            application/x-x509-user-cert:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
          description: The requested resource does not exist
        "429":
          content:
            application/x-x509-user-cert:
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      summary: Enroll an identity via one-time-token
      tags:
      - Enroll
      x-accepts:
      - application/json
      - application/x-x509-user-cert
  /enroll/ottca:
    post:
      description: |
        Enroll an identity via a one-time-token that also requires a pre-exchanged client certificate to match a
        Certificate Authority that has been added and verified (See POST /cas and POST /cas{id}/verify). The client
        must present a client certificate signed by CA associated with the enrollment. This enrollment is similar to
        CA auto enrollment except that is required the identity to be pre-created.

        As the client certificate has been pre-exchanged there is no CSR input to this enrollment method.
      operationId: enrollOttCa
      parameters:
      - in: query
        name: token
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      summary: Enroll an identity via one-time-token with a pre-exchanged client certificate
      tags:
      - Enroll
      x-accepts:
      - application/json
  /enroll/updb:
    post:
      description: |
        Enrolls an identity via a one-time-token to establish an initial username and password combination
      operationId: ernollUpdb
      parameters:
      - in: query
        name: token
        required: true
        schema:
          format: uuid
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/empty"
          description: Base empty response
        "404":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars:
                      id: 71a3000f-7dda-491a-9b90-a19f4ee6c406
                  causeMessage: ""
                  code: NOT_FOUND
                  message: The resource requested was not found or is no longer available
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The requested resource does not exist
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      summary: Enroll an identity via one-time-token
      tags:
      - Enroll
      x-accepts:
      - application/json
  /enumerated-capabilities:
    get:
      operationId: listEnumeratedCapabilities
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listEnumeratedCapabilitiesEnvelope"
          description: A typed and enumerated list of capabilities
      security: []
      summary: "Returns all capabilities this version of the controller is aware of,\
        \ enabled or not."
      tags:
      - Informational
      x-accepts:
      - application/json
  /external-jwt-signers:
    get:
      description: Retrieves a list of external JWT signers for authentication
      operationId: listExternalJwtSigners
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
      - in: query
        name: offset
        schema:
          type: integer
      - in: query
        name: filter
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/listClientExternalJwtSignersEnvelope"
          description: A list of External JWT Signers
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The resource requested is rate limited and the rate limit has
            been exceeded
      security:
      - ztSession: []
      - oauth2:
        - openid
      summary: List Client Authentication External JWT
      tags:
      - External JWT Signer
      x-accepts:
      - application/json
  /posture-response:
    post:
      description: Submits posture responses
      operationId: createPostureResponse
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/postureResponseCreate"
        description: A Posture Response
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/postureResponseEnvelope"
          description: Contains a list of services that have had their timers altered
        "400":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause:
                    details:
                      context: (root)
                      field: (root)
                      property: fooField3
                    field: (root)
                    message: "(root): fooField3 is required"
                    type: required
                    value:
                      fooField: abc
                      fooField2: def
                  causeMessage: schema validation failed
                  code: COULD_NOT_VALIDATE
                  message: The supplied request contains an invalid document
                  requestId: ac6766d6-3a09-44b3-8d8a-1b541d97fdd9
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: "The supplied request contains invalid fields or could not\
            \ be parsed (json and non-json bodies). The error's code, message, and\
            \ cause fields can be inspected for further information"
        "401":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  cause: ""
                  causeMessage: ""
                  code: UNAUTHORIZED
                  message: The request could not be completed. The session is not
                    authorized or the credentials are invalid
                  requestId: 0bfe7a04-9229-4b7a-812c-9eb3cc0eac0f
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
          description: The supplied session does not have the correct access rights
            to request this resource
        "429":
          content:
            application/json:
              example:
                error:
                  args:
                    urlVars: {}
                  causeMessage: you have hit a rate limit in the requested operation
                  code: RATE_LIMITED
                  message: The resource is rate limited and the rate limit has been
                    exceeded. Please try again later
                  requestId: 270908d6-f2ef-4577-b973-67bec18ae376
                meta:
                  apiEnrollmentVersion: 0.0.1
                  apiVersion: 0.0.1
              schema:
                $ref: "#/components/schemas/apiErrorEnvelope"
[...]
