name: CI build
permissions:
  contents: read
  checks: write
on:
  workflow_dispatch:

  pull_request:
    branches: ['main']

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      BUILD_NUMBER: ${{ github.GITHUB_RUN_NUMBER }}
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK
        uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: temurin

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - uses: openziti/ziti/setup-cli@main

      - name: Check
        run: |
          ./gradlew -S --info check 
          ./gradlew --info samplesClasses
        timeout-minutes: 10

      - name: test artifacts
        if: ${{ failure() }}
        uses: actions/upload-artifact@v6
        with:
          name: test-results
          path: ziti/build/test-results/**/*.xml

      - name: upload test summary
        if: always()
        uses: mikepenz/action-junit-report@v6
        with:
          detailed_summary: 'true'
          report_paths: '**/build/**/TEST-*.xml'

      - name: Build
        run: ./gradlew build assemble

#      - name: check samples build
#        run: |
#          cd samples
#          ../gradlew --info --include-build=.. build
#
